<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="kr.or.yi.gradle_mybatis_c3p0.dao.TitleDao"> -->
<mapper namespace="mapper.titleMapper"> <!-- 근데 이 이름으로 하면 log에 기록이 안된다. 풀패키지명으로 적어주면 log에 찍힌다. 왜냐하면 log4j2.xml에 Logger name을 풀패키지명으로 정해줬으니까 -->
	<select id="selectTitleByAll" resultType="Title">
		<!-- id랑 TitleDao 함수명이랑 같아야됨 & typeAliases에서 alias를 정해줬기 때문에 Title만 적어도 되는거다 -->
		select title_code, title_name from title <!-- 세미콜론은 찍어도 되고 안찍어도 됨 -->
	</select>
	
	<insert id="insertTitle" parameterType="Title">
		insert into title(title_code, title_name) values(#{titleCode}, #{titleName})
													<!-- ★★★ dto에 있는 getTitleNo(), getTitleName()를 호출한다. #이 get을 부른다고 생각해라. 즉, 컬럼명을 적어주는거다!!!!!!!! ★★★-->
	</insert>
	
	<delete id="deleteTitle" parameterType="Title">
		delete from title where title_code = #{titleCode}
	</delete>
	
	<update id="updateTitle" parameterType="Title">
		update title set title_name = #{titleName} where title_code = #{titleCode}
	</update>
	
	<select id="selectTitleByCode" parameterType="Title" resultType="Title">
		select title_code, title_name from title where title_code = ${titleCode}
	</select>
</mapper>

<!-- mapper는 하나만 만드는게 유지보수에 편하다. 여러개 만들면 이것저것 확인해야되니까 -->
